<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <main class="uk-flex uk-flex-center">
      <article class="uk-article uk-margin-top">
        <h1 class="uk-heading-bullet">{{.text}}</h1>
        <p class="uk-text-lead">
          <ul class="uk-list">
              {{range $index, $str := .arr}}
                <li>{{$str}}</li>
              {{end}}
          </ul>
        </p>
      </article>
    </main>
  </body>
</html>

